<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />
    <link rel="stylesheet" href="/css/global.css" />
    <link rel="stylesheet" href="/css/cadastrarLivro.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" />
</head>
<body>
<div class="tabbarcontainer">
    <div class="screen">
        <button class="go-back-button">
            <img class="go-back-icon" alt="Voltar" src="/img/voltar.png" />
        </button>
        <h3 class="cadastrar-livro">Cadastrar livro</h3>
    </div>

    <section class="book-details">
        <div class="rectangle-parent">
            <div class="form-content">
                <div class="top-section">
                    <div class="rectangle-group">
                        <img class="add-image-icon" alt="" src="/img/adicionarImagem.png" />
                    </div>

                    <div class="author-field-parent">
                        <div class="field-group">
                            <label class="label-text">Autor</label>
                            <input class="author-input" type="text" />
                        </div>
                        <div class="field-group">
                            <label class="label-text">Gênero</label>
                            <div class="genre-navigation">
                                <img class="chevron-icon" alt="" src="./public/Chevron-Left@2x.png" />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="description-section">
                    <label class="label-text">Descrição</label>
                    <input class="description-input" type="text" />
                </div>
            </div>

            <div class="action-buttons">
                <button class="rectangle-container">
                    <span class="salvar">Salvar</span>
                </button>
            </div>
        </div>
    </section>
</div>
</body>
</html>